h1 {
  text-align: center;
}
p {
  padding: 5px;
}

.center-text {
  text-align: center;
}

table {
  width: 100%;
}
iframe {
  width: 100%;
  height: 100%;
}

.contacts-location-wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.tab-wrapper {
  padding-top: 30px !important;
}
// .location-info{
//   padding-top:;
// }
